doctype html

!= '\r\n<!-- Thank you for using Misskey! @syuilo -->\r\n'

html(lang='ja', dir='ltr')

	head
		meta(charset='utf-8')
		meta(name='application-name', content='Misskey')
		meta(name='theme-color', content= config.themeColor)
		meta(name='referrer', content='origin')
		link(rel='shortcut icon', href= config.url + '/favicon.ico')
		title
			if env !== 'production'
				| (DEBUG)
				= ' '
			block title
		script(src='https://use.fontawesome.com/22aba0df4f.js', async)
		script!= 'document.domain="' + config.host + '"'
		script!= 'window.SIGNIN=' + signin.toString()
		script!= 'eval(decodeURIComponent("' + encodeURIComponent('window.USER=' + JSON.stringify(user)) + '"))'
		//-
			script(type='application/ld+json').
				{
				  "@context": "http://schema.org",
				  "@type": "WebSite",
				  "url": "#{config.url}",
				  "potentialAction": {
				    "@type": "SearchAction",
				    "target": "#{config.urls.search}/?q={q}",
				    "query-input": "required name=q"
				  }
				}
		block head

	body
		block body
